@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#menu-13 .mbr-brand__name {
  font-size: 16px;
}
#menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-23 H1 {
  font-family: 'Oswald', sans-serif;
}
#slider-23 P {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-2 P {
  font-size: 13px;
}
#footer1-18 P {
  text-align: center;
  color: #000000;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-2 P {
  font-size: 13px;
}
#footer1-18 P {
  text-align: center;
  color: #000000;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts2-15 P {
  color: #000000;
  font-size: 13px;
}
#contacts2-15 DIV {
  color: #000000;
}
#footer1-18 P {
  text-align: center;
  color: #000000;
}
