#wrapper {
  display: none;
}
#title {
  text-align: center;
  display: none;
}
#title a{
  color: #F2784B;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 80px;
}
#title a:hover, #main a:hover, #footer a:hover {
  color: #000;
}
p {
  text-align: center;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
}
#footer {
  position: absolute;
  bottom : 0;
  height : 40px;
}
#main a {
  color: #F2784B;
  text-decoration: none;
}
#footer a {
  color: #F2784B;
  text-decoration: none;
}
